
.tm h4, .tm h4 {
    margin-top: 0;
}

.tm-container, .skills {
    text-align: left;
}

.skills ul{
    list-style: none;
    padding-left: 0px;
}




.timeline {
    padding: 10px 30px 46px;
}


.tm-container {
    position: relative;
}



.tm-container:before {
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top,  #eaeaea 1%, #eaeaea 75%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eaeaea), color-stop(75%,#eaeaea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eaeaea 1%,#eaeaea 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eaeaea 1%,#eaeaea 75%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eaeaea 1%,#eaeaea 75%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eaeaea 1%,#eaeaea 75%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    bottom: 0;
    content: "";
    left: 1px;
    position: absolute;
    top: 0;
    width: 1px;
    height:100%;

}


.tm {
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top: 30px;
    position: relative;
}


.tm:after {
    background: #199cdb;
    border: 3px solid #ffffff;
    content: "";
    height: 14px;
    left: -5px;
    position: absolute;
    text-align: center;
    top: 33px;
    width: 14px;
}



.tm .tm-header h6 {
    color: #666666;
    font-size: 12px;
}


.tm .tm-header h6 span.current {
    background: #199cdb;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius :6px;
    -ms-border-radius:6px;
    -o-border-radius: 6px;
    color: #ffffff;
    padding: 1px 12px;

}



.skill-list li {
    margin-bottom: 15px;
}


.skill-list li:last-child {
    margin-bottom: 0;
}


.skill-list h4 {
    display: block;
    width: 144px;
    font-size: 13px;
}

