
.tm h4, .tm h4 {
    margin-top: 0;
}

.tm-container, .skills {
    text-align: left;
}

.skills ul{
    list-style: none;
    padding-left: 0px;
}




.timeline {
    padding: 10px 30px 46px;
    margin-top: 20px;
    min-height: 440px;
}


.tm-container {
    position: relative;
}



.tm-container:before {
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top,  #eaeaea 1%, #eaeaea 75%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eaeaea), color-stop(75%,#eaeaea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eaeaea 1%,#eaeaea 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eaeaea 1%,#eaeaea 75%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eaeaea 1%,#eaeaea 75%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eaeaea 1%,#eaeaea 75%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    bottom: 0;
    content: "";
    left: 1px;
    position: absolute;
    top: 0;
    width: 1px;
    height:100%;

}


.tm {
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top: 30px;
    position: relative;
}


.tm:after {
    background: #199cdb;
    border: 3px solid #ffffff;
    content: "";
    height: 14px;
    left: -5px;
    position: absolute;
    text-align: center;
    top: 33px;
    width: 14px;
}



.tm .tm-header h6 {
    color: #666666;
    font-size: 12px;
}


.tm .tm-header p span.current {
    background: #199cdb;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius :6px;
    -ms-border-radius:6px;
    -o-border-radius: 6px;
    color: #ffffff;
    padding: 2px 6px;
    margin-left: 3px;

}



.skill-list li {
    margin-bottom: 15px;
}


.skill-list li:last-child {
    margin-bottom: 0;
}


.skill-list h4 {
    display: block;
    width: 144px;
    font-size: 13px;
}



.tm .duration {
    font-size: 0.8em;
    font-style: italic;
}

.skills h6 {
    text-align: center;
}


.card .card-header-icon {
    float: right;
    text-align: center;
}


.card .card-header-icon {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}


.card.card-stats {
    margin-top: 40px;
}


.card.card-stats .card-header {
    float: left;
    text-align: center;
}

.card.card-stats h3 {
    margin: 0;
}

.card.card-stats .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}
.card.card-stats .card-header {
    float: left;
    text-align: center;
}

.card.card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}
.card.card-stats .content {
    text-align: right;
    padding-top: 10px;
}

.card.card-stats .content {
    padding: 15px 20px;
}


.card.card-stats .card-footer {
    margin: 0 20px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
    text-align: left;
}

.card.card-stats .card-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}

.card.card-stats .card-footer div {
    display: inline-block;
}

.card.card-stats .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}



.card.card-stats .card-content .category {
    margin-bottom: 0;
}

.card.card-stats .category:not([class*="text-"]) {
    color: #999999;
}



.card-carousel .item > img {
    margin: 0;
}

.awards h4 > i {
    font-size: 1em;
    margin-left: 5px;   
}

.awards h4 > i:hover {
    color: #199cdb;
    cursor: pointer;
}
